<editais id="response-editais">
    <input type="hidden" value="5" id="input-offset"/>
    <input type="hidden" value="1" id="input-page"/>
    <div 
        class="br-table" id="table-editais" >
        <div class="table-header"></div>
        <table>
            <thead>
                <tr>
                    <th class="column-collapse" scope="col"></th>
                    <th scope="col">Edital</th>
                    <th scope="col">Publicação</th>
                    <th scope="col">Última alteração</th>
                </tr>
            </thead>
            <tbody>
            <item th:each="edital : ${editais}">
                <tr>
                    <td>
                        <button 
                            class="br-button " 
                            type="button" 
                            aria-label="Expandir/Retrair Rótulo 01"
                            th:onclick="'requestEdital(' + ${edital.codEdital} + ')'"
                            >
                            Solicitar
                            <i class="fas fa-chevron-down" aria-hidden="true" style="font-size: 10px"></i>
                        </button>
                    </td>
                    <td th:data-th="${edital.nomeEdital}" th:text="${edital.nomeEdital}">Edital</td>
                    <td th:data-th="${#dates.format(edital.dataPublicacao, 'dd/MM/yyyy HH:mm')}" th:text="${#dates.format(edital.dataPublicacao, 'dd/MM/yyyy HH:mm')}">Publicação</td>
                    <td th:data-th="${#dates.format(edital.dataUltimaAtualizacao, 'dd/MM/yyyy HH:mm')}" th:text="${#dates.format(edital.dataUltimaAtualizacao, 'dd/MM/yyyy HH:mm')}">Última alteração</td>
                </tr>
                <tr class="collapse">
                    <td th:id="'collapse-' + ${edital.codEdital}" aria-hidden="true" hidden="hidden" colspan="6">
                        <div class="br-row">
                            <div class="br-message info w-100" role="alert">
                                <div class="icon">
                                    <i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
                                </div>
                                <div class="content">
                                    <span class="message-title" th:text="${edital.nomeEdital}">
                                        Informação.
                                    </span>
                                    <br>
                                    <span class="message-body" th:text="${edital.descricaoEdital}">
                                        Descrição
                                    </span>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            </item>
            </tbody>
        </table>
        <div class="table-footer">
            <nav class="br-pagination" aria-label="Paginação de resultados" data-total="50" data-current="1" data-per-page="20">
                <div class="pagination-per-page">
                    
                    
                </div>
                <div class="pagination-go-to-page d-none d-sm-flex ml-auto">
                    <div class="br-select">
                        <div class="br-input">
                            <label for="go-to-selection-random-13292">Página [[${current}]] de [[${pages}]]</label>
                            <input id="go-to-selection-random-13292" type="text" placeholder=" "/>
                            <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i class="fas fa-angle-down" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="br-list" tabindex="0">
                            <div class="br-item" tabindex="-1" th:each="i : ${#numbers.sequence(1, pages)}">
                                <div class="br-radio">
                                    <input 
                                        th:id="'go-to-' + ${i}" 
                                        type="radio" 
                                        name="checkbox-page" 
                                        th:value="${i}"  
                                    />
                                    <label th:for="'go-to-' + ${i}" th:text='${i}'></label>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div><span class="br-divider d-none d-sm-block mx-3"></span>
                <div class="pagination-arrows ml-auto ml-sm-0">
                    <button class="br-button circle" type="button" aria-label="Voltar página" id='btn-tab-prev' onclick='prevPage()'>
                        <i class="fas fa-angle-left" aria-hidden="true"></i>
                    </button>
                    <button class="br-button circle" type="button" aria-label="Avançar página" id='btn-tab-next' onclick='nextPage();'>
                        <i class="fas fa-angle-right" aria-hidden="true"></i>
                    </button>
                </div>
            </nav>
        </div>
    </div>
</editais>

