
<header class="br-header">
    <div class="container-lg">
      <div class="header-top">
        <div class="header-logo"><img src="/assets/imagens/logoMorato-p.png"></span>
          <div class="header-sign h6">Prefeitura de Francisco Morato</div>
        </div>
        <div class="header-actions">
          <div class="header-links dropdown">
            <button  class="br-button circle small" type="button" data-toggle="dropdown" aria-label="Abrir Acesso Rápido">
              <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <div class="br-list">
              <div class="header">
                <div class="title">Acesso Rápido</div>
              </div>
              <a class="br-item" href="http://ppa.franciscomorato.sp.gov.br/" target="_blank">Plano de Metas</a>
              <a class="br-item" href="https://defesacivil.franciscomorato.sp.gov.br/" target="_blank"> Defesa Civil</a>
              <a class="br-item" target="_blank" href="http://www.franciscomorato.sp.gov.br/site/index/sic">Sic</a>
              <a class="br-item" target="_blank"  href="http://saude.franciscomorato.sp.gov.br/">Same</a>
              <a class="br-item" target="_blank" href="https://ouvidoria.etransparencia.com.br/franciscomorato.sp/wpstartpagenew.aspx">Ouvidoria</a>
            </div>
          </div>
            <span class="br-divider vertical mx-half mx-sm-1"></span>         
          <div class="header-search-trigger">
            <button class="br-button circle" type="button" aria-label="Abrir Busca" data-toggle="search" data-target=".header-search"><i class="fas fa-search" aria-hidden="true"></i>
            </button>
          </div>
          <div class="header-login">
            <div class="header-sign-in">
              <a class="br-sign-in small" type="button" data-trigger="login" href="/auth">
                <i class="fas fa-lock" aria-hidden="true"></i>
                <span class="d-sm-inline">Acesso Restrito</span>
              </a>
            </div>
            <div class="header-avatar"></div>
          </div>
        </div>
      </div>
    </div>
  </header>