<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <title>Login</title>
        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="assets/imagens/logoMorato-p.png">
        <!-- fontes  -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />       
        <!-- desing system -->
        <link href="/assets/gov.br/css/core.css" rel="stylesheet" type="text/css"/>
        <!-- style login -->
        <link href="/assets/css/login/login.css" rel="stylesheet" type="text/css"/>
        <style>
            .br-table .table-header {
                 position: fixed!important;
                 display: flex;
            }
        </style>
    </head>
    <body >       
         <div class="br-card cartao">                 
                <div class="titulo">
                    <h1 class=" text-center text-up-04 p-4">Editais e Licitações</h1>
                </div>   
            <div class="pl-4 pr-4 pb-1">
                <form class="" method="POST" th:action="@{/auth}">
                    <div class="input-group col-lg-12 br-input">
                        <div class="input-icon">
                            <span class="material-symbols-outlined">person</span>
                        </div>
                        <input id="input-text" class="rounder-pill" 
                        type="text" placeholder="Usuário" name="username"/>
                    </div>
                    <div class="col-sm-12 col-lg-12 mb-3">
                        <div class="br-input input-button">
                            <div class="input-icon">
                                <span class="material-symbols-outlined">lock</span>
                            </div>
                          <input class="rounder-pill" id="input-password"
                           type="password" placeholder="Senha" name="password">
                          <button class="br-button" type="button" aria-label="Mostrar senha">
                            <i class="fas fa-eye" aria-hidden="true">
                                <span class="material-symbols-outlined  showPassword">visibility</span>
                            </i>
                          </button>
                        </div>
                    </div>

                    <span class="text-danger" th:if="${param.error}">
                        Usuario ou senha incorreto
                    </span>
                    <button class="br-button block primary btn-login mt-2" type="submit"><span class="material-symbols-outlined">
                        login
                    </span>entrar</button>
                    
                </form>                
 
                <p class="text-center mt-2 text-weight-regular text-base">Francisco Morato © 2023</p>
            </div>         
        
            <script src="/assets/js/core-init.js"></script>
    </body>
</html>